---
import PawIcon from '../components/PawIcon.astro'

const SERVICES = [
  {name: "Boarding overnight (24hr basis) *", smPrice: 70, mdLgPrice: 80},
  {name: "+10 night stays with park", smPrice: 100, mdLgPrice: 110},
  {name: "+20 night stays with park", smPrice: 85, mdLgPrice: 95},
  {name: "Half extended stay (+4hrs)", smPrice: 35, mdLgPrice: 40},
  {name: "Full extended stay (+8hrs)", smPrice: 70, mdLgPrice: 80},
  {name: "Half daycare", smPrice: 15, mdLgPrice: 20},
  {name: "Full daycare", smPrice: 25, mdLgPrice: 30},
  {name: "Park visit", smPrice: 40, mdLgPrice: 40},
  {name: "Drop-in visit/walks", smPrice: 20, mdLgPrice: 20},
  {name: "+30 minute walk", smPrice: 20, mdLgPrice: 20},
  {name: "Pickup *", smPrice: 20, mdLgPrice: 20},
  {name: "Dropoff *", smPrice: 20, mdLgPrice: 20},
]

const EXTRAS = [
  {name: "Airport drop-off/pick-up", price: "20 on top of transit"},
  {name: "Puppies under 1 years old", price: "10/night"},
  {name: "XL dogs (>120lbs)", price: "10/night"},
  {name: "Not fixed* (unneutered/unspayed)", price: "10/night"},
  {name: "Services past 6pm (after hours)", price: '5/hr weekdays 10/hr weekends'},
  {name: "Extra care*", price: "40/night"},
]
---

<section id="services" class="section banner is-flex is-flex-direction-column">
  <h1 class="title main-title is-flex is-justify-content-center">
    <span class="mr-3 section-header">services & pricing</span>
    <PawIcon />
  </h1>
  <div class="section-content container">
    <div>
      <p class="list-header">
        <span>service</span>
        <span class="size-header">
          <span>S</span>
          <span>M/L</span>
        </span>
      </p>
      <ul class="list">
        {SERVICES.map(({name, smPrice, mdLgPrice}) => {
          return (
            <li>
              <span>{name}</span>
              <div class="prices">
                <span>{smPrice}</span>
                <span>{mdLgPrice}</span>
              </div>
            </li>
          )
        })}
      </ul>
    </div>
    <br>
    <p class="asterikText">
      * holiday rates +$20
      <br>
      * Minimum $20 within 5 miles, +4 per extra mile
      <br>
      * Facility with more than 6 pups may be subject to a 20% overbooking fee
    </p>
  </div>

  <div class="section-content extras container">
    <div>
      <p class="list-header">Extras</p>
      <ul class="list">
        {EXTRAS.map(({name, price}) => {
          return (
            <li>
              <span>{name}</span>
              <span>{price}</span>
            </li>
          )
        })}
      </ul>
    </div>
    <br>
    <p class="asterikText">* Added price per service</p>
  </div>
</section>

<style>
	.banner {
		background: #edb067;
    gap: 2rem;
	}

  .list-header {
    @media (max-width: 600px) {
      font-size: 1rem;
    }
  }


	.list {
		text-align: left;
		font-size: 20px;
    line-height: 1.75rem;

		li {
      padding: 2px;
			display: flex;
			justify-content: space-between;

      &:hover {
        background: #252525;
      }

      @media (max-width: 600px) {
        font-size: 0.8rem;
      }
		}
	}

  .asterikText {
    @media (max-width: 600px) {
      font-size: 0.8rem;
    }
  }

	.prices {
		display: flex;
		gap: 4rem;

    @media (max-width: 600px) {
      gap: 2rem;
    }
	}
</style>
